<h1>Test update</h1>
<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
    <div class="input-group">
        <label for="">Nombre</label>
        <input type="text" required name="name" id="name" [(ngModel)]="register.name">
        <p>Mensaje de error</p>
    </div>
    <div class="input-group">
        <label for="">Email</label>
        <input type="text" required id="mail" name="mail" [(ngModel)]="register.mail">
        <p>Mensaje de error</p>
    </div>
    <div class="input-group">
        <label for="">Password</label>
        <input type="text" required id="password" name="password" [(ngModel)]="register.password">
        <p>Mensaje de error</p>
    </div>
    <button [disabled]="myForm.invalid" type="submit">Registrar</button>
    <button type="button">Accion</button>
</form>


<hr>
<h1> NgClass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name">
<hr class="line-error" [class.valid]="nameInput4.valid" [class.invalid]="nameInput4.invalid">
<p class="message-error" [class.invalid]="nameInput4.invalid">
    El campo es requerido
</p>
<hr class="line-error" 
    [ngClass]="{
        'valid':nameInput4.valid,
        'invalid':nameInput4.invalid
    }">

<hr>

<h1> Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalid]="nameInput2.invalid">
    El campo es requerido
</p>
<label >Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name">
<p [style.font-style]="nameInput3.invalid ? 'italic':'normal'">Texto Texto, soy un texto Cualquiera</p>

<div>
    <div>
        <input type="text"  [(ngModel)]="widthImg">
    </div>
    <div>
        <img [style.width.px]="widthImg" [src]="person.avatar" width="100" alt="">
    </div>
    <div>
        <img [style.width.%]="widthImg" [src]="person.avatar" width="100" alt="">
    </div>
</div>

<hr>
<h1>*ngFor Objects</h1>
<div class="products--grid">
    <div *ngFor="let product of products">
        <img [src]="product.image" alt="image">            
        <h2>{{product.price}}</h2>
        <p>{{product.name}}</p>
    </div>
</div>

<hr>

<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
    <p *ngSwitchCase="'Dani'">La persona es Dani</p>
    <p *ngSwitchCase="'Vito'">La persona es Vito</p>
    <p *ngSwitchCase="'Irene'">La persona es Irene</p>
</div>

<hr>
<h1>*ngFor Objects</h1>
<div>
    <div *ngFor="let product of products">
        <img [src]="product.image" alt="image" width="250">            
        <h2>{{product.price}}</h2>
        <p>{{product.name}}</p>
    </div>
</div>
<hr>

<h1>*ngFor</h1>

<input type="text" required [(ngModel)]="newName">
<button (click)="addName()" >Add Name</button>

<ul>
    <li *ngIf="names.length==0">Lista Vacia</li>
    <li *ngFor="let name of names">{{name}}</li>
</ul>

<p>Posicion</p>
<ul>
    <li *ngIf="names.length==0">Lista Vacia</li>
    <li *ngFor="let name of names; index as i">{{i}} {{name}}
        <button (click)="deleteName(i)">Delete Name</button>
    </li>
</ul>

<hr>

<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name=='Xen'" >Xencitot</p>
<!-- *ngIf Anidado con operadores logicos -->
<p *ngIf="person.name=='Dani' && person.age==29" >Dani 29 años</p>
<!-- *ngIf  - Else -->
<p *ngIf="person.name=='Dani' && person.age==29; else myBlock" >Dani 29 años</p>
<ng-template #myBlock>
    <p>Bloque de else</p>
</ng-template>

<hr>
<h1>NgModel</h1>
<p>Nombre {{person.name}}</p>
<input type="text" required="" #nameInput="ngModel" [(ngModel)]="person.name"/>
<p>Valid : {{nameInput.valid}}</p>
<br>
<p>Edad {{person.age}}</p>
<input type="number" required max="30" min="18" #ageInput="ngModel" [(ngModel)]="person.age"/>
<p>Valid : {{ageInput.valid}}</p>

<hr>

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="tooglebutton()">Toogle Button</button>
<p>Edad</p>
<button (click)="increaseage()">Incrementar la edad Button</button>
<div class="box" (scroll)="onScroll($event)">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae nihil incidunt odio nostrum cum, odit in ratione ipsa quas rerum aut, dolore fuga fugiat? Quasi provident incidunt expedita necessitatibus voluptas.</p>
</div>
<input type="text" [value]="person.name" (keyup)="changeName($event)"/>

<hr>

<h1>Propiedades</h1>

<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name"/>
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" width="100" alt="">

<hr>

<h1>Hola Mundo</h1>
<h1>{{ 'H W \n'.repeat(5) }}</h1>

<h3> Hola Soy {{name}} y tengo  {{age}}</h3>

<img src={{img}} alt="" width="100px">